#features {
  background-color: white;
  width: 70%;
  padding-bottom: 30px;
  margin: 100px auto;
}
.features-header {
  margin: 20px 0px;
  font-family: var(--major-font-2);
}
.features-header h1 {
  margin-bottom: 10px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 30%;
  font-family: var(--major-font-1);
}

.card p {
  text-align: left;
  margin: 20px 0px;
  width: 100%;
  line-height: 30px;
  font-family: var(--major-font-2);
}

.button {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  #features {
    width: 80%;
  }
  .card p {
    font-size: 14px;
    line-height: 20px;
  }
  .card h3 {
    font-size: 16px;
  }
  .button {
    font-size: 10px;
  }
}
@media only screen and (max-width: 580px) {
  #features {
    width: 90%;
    padding-bottom: 0px;
    margin-bottom: 40px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card {
    width: 70%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 400px) {
  #features {
    width: 100%;
    padding: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
}
